.albums {

    margin-top: 50px;
    display: flex;
    justify-content: space-between;

    .album:nth-of-type(1) {
        margin-left: 0;
    }

    .album:last-of-type {
        padding-right: 100px;
    }

    .album {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 320px;
        text-align: center;
        margin-left: 50px;

        .cercle {
            opacity: 0;
            pointer-events: none;
        }

        img {
            transition: all 0.5s;
        }

        >div {
            background-color: $red;
            height: 250px;
            transition: all 0.5s;
            position: relative;
        }

        .album-title {
            font-size: 18px;
            font-weight: $text-semi-bold;
            letter-spacing: $text-space-middle;
            color: $light-light-blue;
            margin-top: 10px;
            transition: all 0.5s;
        }

        .type {
            font-size: 12px;
            font-weight: $text-regular;
            letter-spacing: $text-space-big;
            color: $light-blue;
            transition: all 0.5s;
        }
    }
}


.album-cliked {
    img {
        opacity: 0.5;
    }

    >div {
        box-shadow: $big-shadow;
    }

    .album-title, .type {
        color: $red !important;
        text-shadow: $shadow;
    }

    .cercle {
        opacity: 1 !important;
        pointer-events: auto !important;
    }

}
