.albums {

    margin-top: 50px;
    display: flex;
    justify-content: space-between;

    .album:nth-of-type(1) {
        margin-left: 0;
    }

    .album:last-of-type {
        padding-right: 100px;
    }

    .album {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 320px;
        text-align: center;
        margin-left: 50px;

        .album-title {
            font-size: 18px;
            font-weight: $text-semi-bold;
            letter-spacing: $text-space-middle;
            color: $light-light-blue;
            margin-top: 10px;
            transition: all 0.5s;
        }

        .type {
            font-size: 12px;
            font-weight: $text-regular;
            letter-spacing: $text-space-big;
            color: $light-blue;
            transition: all 0.5s;
        }
    }
}

.wrapper-albums {
    display: flex;
    flex-direction: row;
    transform: rotate(90deg) translateY(-60vh);
    transform-origin: top left;
    display: flex;
    flex-direction: column;
    padding: 0 100px;

}

.outer-wrapper-albums {
    width: 100vw;
    height: calc(100vw - 300px);
    transform: rotate(-90deg) translate(-61vh, -100px);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
}
