.content {
    position: absolute;
    left: 300px;
    height: 100vh;
    overflow-x: hidden;
    width: calc(100% - 300px);


    h3 {
        color: $white;
        font-size: 30px;
        font-weight: $text-black;
        letter-spacing: $text-space-big;
    }

    h2 {
        color: $white;
        font-size: 50px;
        font-weight: $text-black;
        letter-spacing: $text-space-big;
    }
}

.wrapper {
    display: flex;
    flex-direction: row;
    width:1972px;
    transform: rotate(90deg) translateY(-60vh);
    transform-origin: top left;
    display: flex;
    flex-direction: column;
    padding-left: 100px;

}

.outer-wrapper {
    width: 100vw;
    height: calc(100vw - 300px);
    transform: rotate(-90deg) translateX(-50vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
}

.title-page {
    padding: 100px;
    width: calc(100% - 200px);
}

.outer-wrapper::-webkit-scrollbar {
    display: none;
}
