

$text-font: 'Titillium Web';

$red: #FF4632;
$dark-blue: #070723;
$blue: #101834;
$middle-blue: #192043;
$grey: #4D5579;
$light-blue: #C5CDF1;
$light-light-blue: #D8DCF2;
$white: #ffffff;

$text-black: 900;
$text-bold: 700;
$text-semi-bold: 600;
$text-regular: 400;

$text-space-middle: 1px;
$text-space-big: 2px;

$shadow: 0px 0px 4px $red;
$big-shadow: 0px 0px 8px $red;
